html(lang="en")
	include includes/head
	body
		.preloader
			- var n = 0;
			.lds-spinner
				while n<12
					- ++n
					div
		.wrapper
			.game
				.showMessage.hide
					p You Lose!
					button.restart restart
				.game__start
					button play game!
				.game__sound
					.bg-soundOn
				.game__title
					.top-side
						img(src="./assets/img/helm.png", alt="helm")
						h1 Sea Battle v.1.2
					.bottom-side
						a(href="https://www.facebook.com/erlan.zharkeev")
							button send feedback
						a(href='')
							button.restart restart
				.mobile-btn
					i(class="fa fa-cog")
				.mobile-menu.hide
					.logo-side
						img(src="./assets/img/helm.png", alt="helm")
						h1 Sea Battle v.1.2
					.btns-side
						a(href="https://www.facebook.com/erlan.zharkeev")
							button send feedback
						a
							button.restart restart
					.sound-side
						.bg-soundOn
				.game__table-container
					-var alphabet = ['a','b','c','d','e','f','g','h','i']
					-var side = 0
					while side<2
						- ++side
						div(class=side===1?'game__userSide':'game__aiSide')
							.game__table
								.game__row
									.info__cell
									each val in alphabet
										.info__cell=val
									.info__cell.last-let k
								-var r = 0
								while r<10
									- ++r
									.game__row
										if r===10
											.info__cell.last-num=r
										else
											.info__cell=r
										-var c = 0
										while c<10
											- ++c
											.game__cell(data-status="empty" data-cell-id=`${r}-${c}`)


